body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(239, 235, 235, 0.802);
}

.bg {
    width: 1200px;
    height: 600px;
    background-color: rgba(242, 211, 173, 0.799);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    box-shadow: 1px 1px 10px rgba(81, 81, 81, 0.777);
}

.content {
    width: 550px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0.5px 0.5px 10px rgba(128, 128, 128, 0.451);
    display: flex;
    flex-direction: row;
}

h4 {
    color: greys;
}

.box1 {
    width: 50%;
    background: url(./image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.box2 {
    text-align: left;
    margin-left: 30px;
}

.precos {
    font-style: none;
    flex-wrap: wrap;
}

#text {
    color: grey;
}

/**    BOTAUM    **/

a:link {
    color: #fff;
    text-decoration: none;
}
a:active{
    color: rgb(82, 81, 81);
    text-decoration: underline;
}

.botaum {
    width: 100px;
    height: 40px;
    background: #bcb0c4;
	color: #fff;
    font-size: 18px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaum:hover {
    background: #d7d7d7;
	color: #fff;
	border: 1px solid #eee;
	box-shadow: 10px 10px 10px #eee;
	text-shadow: none;
    cursor: pointer;
}

.botaoo {
    display: flex;
    justify-content: center;
}